<%- include('../partials/_html-head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Edit Character</title>
    </head>

    <body>
        <%- include('../partials/_navbar.ejs') %>
        <div id="border-d-scale"><div id="border-d"><div id="bordered-d"></div></div></div>
        <h1 class="header-one">Edit Character</h1>
        <div class="content-container">
            <form class="character-form" action="/users/<%= user._id %>/characters/<%= character._id %>?_method=PUT" method="POST">
                <label for="name">Name: </label>
                <input type="text" name="name" id="name" value="<%= character.name %>" required />
                <label for="class">Class: </label>
                <input type="text" name="class" id="class" value="<%= character.class %>" required />
                <label for="level">Level: </label>
                <input type="number" name="level" id="level" value="<%= character.level %>" required />
                <label for="background">Background: </label>
                <input type="text" name="background" id="background" value="<%= character.background %>" required />
                <label for="race">Race: </label>
                <input type="text" name="race" id="race" value="<%= character.race %>" required />
                <label for="alignment">Alignment: </label>
                <input type="text" name="alignment" id="alignment" value="<%= character.alignment %>" required />
                <label for="experience">Experience: </label>
                <input type="number" name="experience" id="experience" value="<%= character.experience %>" />
                <label for="image">Image Link: </label>
                <input type="text" name="image" id="image" value="<%= character.image %>" />
                <label for="notes">Notes: </label>
                <textarea name="notes" id="notes"><%= character.notes %> </textarea>
                <button id="update-button" type="submit"><div class="link-div">Update</div></button>
            </form>
        </div>
    </body>

</html>