<%- include('../partials/_html-head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Characters</title>
    </head>

    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1 class="header-one"><%= user.username %>'s Characters</h1>
        <div id="content-container-top">
            <div>
                <a href="/users/<%= user._id %>/characters/new">Create Character</a>
            </div>
            <ul>
                <% characters.forEach((character)=>{ %>
                    <a href="/users/<%= user._id %>/characters/<%= character._id %>">
                        <li>
                            <%= character.name %>
                            <%= character.level %>
                        </li>
                    </a>
                <% }) %>
            </ul>
        </div>
    </body>

</html>