<%- include('../partials/_html-head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>Characters</title>
    </head>

    <body>
        <%- include('../partials/_navbar.ejs') %>
        <div id="border-d-scale"><div id="border-d"><div id="bordered-d"></div></div></div>
        <h1 class="header-one"><%= user.username %>'s Characters</h1>
        <div id="content-container-top">
            <div id="create-div">
                <a href="/users/<%= user._id %>/characters/new" id="create-link">Create Character</a>
            </div>
            <ul>
                <% characters.forEach((character)=>{ %>
                    <a href="/users/<%= user._id %>/characters/<%= character._id %>">
                        <li class="character-li">
                            <%= character.name %> |
                            Level <%= character.level %>
                        </li>
                    </a>
                <% }) %>
            </ul>
        </div>
    </body>

</html>