<%- include('../partials/_html-head.ejs') %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <title>New Character</title>
    </head>

    <body>
        <%- include('../partials/_navbar.ejs') %>
        <h1><%= character.name %></h1>
        <div class="content-container">
            <% if (character.image) { %>
                <%= character.image %>
            <% } else { %>
                >>placeholder<<
            <% } %>
            <div><%= character.class %></div>
            <div><%= character.race %></div>
            <div><%= character.alignment %></div>
            <div><%= character.level %></div>
            <div><%= character.background %></div>
            <div><%= character.experience %></div>
            <div><%= character.notes %></iv>
        </div> 
        <div class="show-actions">
            <a href="/users/<%= user._id %>/characters/<%= character._id %>/edit">Edit Character</a>
            <form action="/users/<%= user._id %>/characters/<%= character._id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Character</button>
            </form>
        </div>
    </body>

</html>